<%= simple_form_for brand, html: { class: "brand form" } do |f| %>
  <% if @brand.errors.any? %>
    <div class="error-message">
      <%= @brand.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= link_to "Cancel", brands_path, class: "btn btn-danger" %>
  <%= f.submit class: "btn btn-outline-success" %>
<% end %>