<main class="container border rounded p-3 mt-3">
  <div class="header d-flex justify-content-between align-items-center">
    <h1>Brands</h1>
    <%= link_to "Add Brand", new_brand_path, data: { turbo_frame: dom_id(Brand.new) }, class: "btn btn-primary mb-2" %>
  </div>
  <%= turbo_frame_tag Brand.new %>
  <%= turbo_stream_from "brands" %>
  <%= turbo_frame_tag "brands" do %>
    <%= render @brands %>
  <% end %>
</main>