<main class="container border rounded p-3">
  <div class="header d-flex justify-content-between align-items-center">
    <h1>Categories</h1>
    <%= link_to "Add Category", new_category_path, data: { turbo_frame: dom_id(Category.new) }, class: "btn btn-primary m-2" %>
  </div>
  <%= turbo_frame_tag Category.new %>
  <%= turbo_stream_from "categories" %>
  <%= turbo_frame_tag "categories" do %>
    <%= render @categories %>
  <% end %>
</main>