<%= turbo_frame_tag dom_id(@product) do %>
  <div class="card mt-3 mb-3">
    <div class="card-body">
      <h1 class="card-title"><%= @product.name %></h1>
      <div class="card-text">
        <p><strong>Brand:</strong> <%= @product.brand.name %></p>
        <p><strong>Category:</strong> <%= @product.category.name %></p>
        <p><strong>Price:</strong> $<%= @product.price %></p>
        <p><strong>Quantity:</strong> <%= @product.quantity %></p>
      </div>
      <%= link_to sanitize("Close"), products_path, class: "btn btn-success" %>
    </div>
  </div>
<% end %>
